<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<header>
		<h2 th:text="${titulo}"></h2>
	</header>
	<section>
		<article>
			<form th:action="@{/form}" th:object="${usuario}" method="post">
				<div>
					<label for="identification">Identificador</label>
					<div>
						<input type="text" id="identification" th:field="*{identification}">
					</div>
					<div th:if="${#fields.hasErrors('identification')}" th:errors="*{identification}"></div>
				</div>
				<div>
					<label for="name">Nombre</label>
					<div>
						<input type="text" id="name" th:field="*{name}">
					</div>
					<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
				</div>
				<div>
					<label for="lastName">Apellido</label>
					<div>
						<input type="text" id="lastName" th:field="*{lastName}">
					</div>
					<div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
				</div>
				<div>
					<label for="username">UserName</label>
					<div>
						<input type="text" id="username" th:field="*{username}">
					</div>
					<div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
				</div>
				<div>
					<label for="password">Contraseña</label>
					<div>
						<input type="password" th:field="*{password}" id="password">
					</div>
					<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
				</div>
				<div>
					<label for="email">Correo Electronico</label>
					<div>
						<input type="email" id="email" th:field="*{email}">
					</div>
					<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
				</div>
				<div>
					<label for="cuenta">Cuenta</label>
					<div>
						<input type="number" id="cuenta" th:field="*{cuenta}">
					</div>
					<div th:if="${#fields.hasErrors('cuenta')}" th:errors="*{cuenta}"></div>
				</div>
				<div>
					<div>
						<input type="submit" value="Enviar">
					</div>
				</div>
			</form>
		</article>
	</section>
</body>
</html>