<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<header>
		<h2 th:text="${titulo}"></h2>
	</header>
	<section>
		<article>
			<ul>
				<li th:text="${usuario.identification}"></li>
				<li th:text="${usuario.name}"></li>
				<li th:text="${usuario.lastName}"></li>
				<li th:text="${usuario.username}"></li>
				<li th:text="${usuario.password}"></li>
				<li th:text="${usuario.email}"></li>
				<li th:text="${usuario.cuenta}"></li>
				<li th:text="${usuario.pais.id}"></li>
				<li th:text="${usuario.pais.codigo}"></li>
				<li th:text="${usuario.pais.nombre}"></li>
				<li th:text="${#calendars.format(usuario.fechaNacimiento, 'dd-MM-yyyy')}"></li>
				<li th:text="'Habilitado: ' + ${usuario.habilitarUsuario}"></li>
			</ul>
			<div><h3>Roles</h3></div>
			<ul>
				<li th:each="role: ${usuario.roles}" th:text="${role.id} +': '+ ${role.nombre} +' => '+ ${role.role}"></li>
			</ul>
		</article>
	</section>
</body>
</html>